{% extends "main.html" %}
{% block content %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h2>Please update the information in "{{journal.title}}"</h2>
		</div>
	</div>
	<div class="col-md-8">
	<div class="form-group">
	<form method="POST" enctype="multipart/form-data"  action="#">
	<label for="name">Title: </label><input class="form-control" type="text" name="name" value="{{journal.title}}" required>
	<label for="issn">ISSN: </label><input  class="form-control" type="text" name="issn" value="{{journal.issn}}" required>
	<label for="publisher">Publisher: </label><input  class="form-control" type="text" name="publisher" value="{{journal.publisher}}">
	<label for="editor">Editor-in-chief: </label><input  class="form-control" type="text" name="editor" value="{{journal.chief_editor}}">
	<label for="discipline"> Discipline: </label>
	<select class ="form-control" name="discipline" value="{{journal.discipline_id}}">
	{% for d in disciplines %}
		<option value="{{d.id}}" {% if journal.discipline_id == d.id %} selected {% endif %}> {{d.name}} </option>
	{% endfor %}
	</select>
	<label for="issues">Issues per year: </label><input  class="form-control" type="number" name="issues" value="{{journal.issues_per_year}}">
	<label for="foundation">Founded (year): </label><input  class="form-control" type="number" name="foundation" value="{{journal.foundation_year}}">
	<label for="description">Description: </label><input class="form-control" type="text" name="description"value="{{journal.description}}">
	<label for="picture"> Cover picture: </label> <input  class="form-control" type="file" name="picture">
	<input class="btn btn-default" type="submit" value="Edit">
	</form>
	<a href = '{{url_for('HomePage')}}'>
		<button class="btn btn-default delete">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
	</a>
</div>
</div>
{% endblock %}