{% extends "main.html" %}
{% block content %}
<div>
{%if 'username' in session %}
	<h4> <span class="glyphicon glyphicon-plus-sign"></span><a href="{{url_for('newDiscipline')}}"> Add New Discipline</a></h4>
	<h4> <span class="glyphicon glyphicon-plus-sign"></span><a href="{{url_for('newJournal')}}"> Add New Journal</a></h4>
{% endif %}
</div>
<br><br>

<div class="col-md-3">
<h2> Disciplines </h2>
{% for d in disciplines %}
	<h5> <a href="{{url_for('discipline', discipline_id = d.id)}}">{{d.name}} </a> 
	{%if 'username' in session and session['user_id'] == d.user_id %}
		- <a href="{{url_for('deleteDiscipline', discipline_id = d.id)}}"> <span class="glyphicon glyphicon-trash" title="Delete"></span> </a> - <a href="{{url_for('editDiscipline', discipline_id = d.id)}}"> <span class="glyphicon glyphicon-edit" title="edit"></span></a>
	{% endif %}
	</h5>
{% endfor %}
<p> <span class="glyphicon glyphicon-download-alt"></span>Download disciplines list in: <a href="{{url_for('disciplinesJSON')}}"> JSON </a> - <a href="{{url_for('disciplinesXML')}}"> XML </a></p>
</div>
<br><br>
<div class="col-md-8">
<h2> Journals </h2>
{% for j in items %}
	<h5><a href="{{url_for('journalPage', journal_id = j.id)}}"> {{j.title}} </a> - {{j.disciplines.name}}
	{%if 'username' in session and session['user_id'] == j.user_id %}
		- <a href="{{url_for('deleteJournal', journal_id = j.id)}}"><span class="glyphicon glyphicon-trash" title="delete"></span></a> - <a href="{{url_for('editJournal', journal_id = j.id)}}"> <span class="glyphicon glyphicon-edit" title="edit"></span> </a>
	{% endif %}
	</h5>
{% endfor %}
</div>
{% endblock %}