{% extends "main.html" %}
{% block content %}

	<h2> {{item.title}} </h2>
	<img src="{{url_for('static', filename="pictures/" + item.picture)}}" alt="Journal cover">
	
	<p> <em>ISSN: </em>{{item.issn}}</p>
	<p> <em>Publisher: </em>{{item.publisher}}</p>
	<p> <em>Editor-in-chief: </em>{{item.chief_editor}}</p>
	<p> <em>Discipline: </em><a href="{{url_for('discipline', discipline_id = item.discipline_id)}}"> {{discipline}}</a></p>
	<p> <em>Issues per year: </em>{{item.issues_per_year}}</p>
	<p> <em>Founded: </em>{{item.foundation_year}}</p>
	<p> <em>Description: </em>{{item.description}}</p>

<p> Download journal info in: <a href="{{url_for('journalJSON', journal_id = item.id)}}"> JSON </a> - <a href="{{url_for('journalXML', journal_id = item.id)}}"> XML </a></p>

	{%if 'username' in session and session['user_id'] == item.user_id %}
		<p> You have permission to: - <a href="{{url_for('deleteJournal', journal_id = item.id)}}"><span class="glyphicon glyphicon-trash" title="delete"></span></a> - <a href="{{url_for('editJournal', journal_id = item.id)}}"> <span class="glyphicon glyphicon-edit" title="edit"></span> </a></p>
		<br>
	{% else %}
		<p> You have no permission to modify this journal </p>
		<br>
	{% endif %}
{% endblock %}